
.vs/OptimaliserenPracticum/v15/.suo
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide-wal
.vs/OptimaliserenPracticum/v15/.suo
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide-wal
ConsoleApp/obj/Debug/ConsoleApp.csproj.CoreCompileInputs.cache
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide-shm
