
.vs/OptimaliserenPracticum/v15/.suo
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide-wal
.vs/OptimaliserenPracticum/v15/.suo
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide-wal
ConsoleApp/obj/Debug/ConsoleApp.csproj.CoreCompileInputs.cache
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide-shm
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide-wal
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide-shm
.vs/OptimaliserenPracticum/v15/.suo
.vs/OptimaliserenPracticum/v15/.suo
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide-shm
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide-wal
ConsoleApp/obj/Debug/ConsoleApp.csproj.CoreCompileInputs.cache
ConsoleApp/obj/Debug/ConsoleApp.csproj.FileListAbsolute.txt
ConsoleApp/obj/Debug/ConsoleApp.exe
ConsoleApp/obj/Debug/ConsoleApp.pdb
ConsoleApp/bin/Debug/ConsoleApp.exe
ConsoleApp/bin/Debug/ConsoleApp.pdb
ConsoleApp/obj/Debug/ConsoleApp.pdb
ConsoleApp/obj/Debug/ConsoleApp.exe
ConsoleApp/obj/Debug/ConsoleApp.csproj.FileListAbsolute.txt
ConsoleApp/obj/Debug/ConsoleApp.csproj.CoreCompileInputs.cache
ConsoleApp/bin/Debug/ConsoleApp.pdb
ConsoleApp/bin/Debug/ConsoleApp.exe
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide-wal
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide-shm
.vs/OptimaliserenPracticum/v15/Server/sqlite3/storage.ide
.vs/OptimaliserenPracticum/v15/.suo
